*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    margin-left: 100px;
    margin-right: 100px;
}
header{
    padding-left: 50px;
}
main{
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgb(247, 247, 241);
    padding-left: 50px;
    padding-top: 20px;
}
div{
    margin-bottom: 30px;
}
ul li{
    padding: 10px;
}
.logo-text{
    font-size: 40px;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    vertical-align: top;
}
.button{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px;
}
.task{
    color: white;
    background-color: lightskyblue;
    display: inline;
}
.section{
    color: lightgray;
    display: inline-block;
}
h3{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:dimgrey;
}
li{
    list-style-type: none;
}
.symbol{
    font-size: 10px;
    border-radius: 10px;
    padding: 2px;
    display: inline;
}
.check{
    border:1px solid lightskyblue;
    color: lightskyblue;
}
h4{
    display: inline-block;
    color: dimgrey;
}
h6{
    display: inline-block;
    border: 1px solid skyblue;
    color: white;
    border-radius: 10px;
    background-color: skyblue;
    padding: 5px;
}
.text{
    color: white;
    border-radius: 10px;
    padding: 5px;
}
.goals{
    border: 1px solid palevioletred;
    background-color: palevioletred;
}
.cross{
    border:1px solid red;
    color: red;
}
.recruit{
    border: 1px solid green;
    background-color: green;
}
.mobile{
    border: 1px solid orangered;
    background-color: orangered;
}
.website{
    border: 1px solid plum;
    background-color: plum;
}
.sale{
    border: 1px solid greenyellow;
    background-color: greenyellow;
}